---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.product {
    max-width: 200px;
    margin: 10px;
    padding: 15px;

    text-align: center;
    background-color: rgb(240, 240, 240);
    &:hover {
      background-color: rgb(240, 240, 250);
    }
}
